<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My Form</title>
</head>

<body>

    <form action="/myForm" method="post">
        <fieldset class="todo-list">
            <legend class="todo-list__title">My Special Todo List</legend>
            <label class="todo-list__label">
                <textarea id="textBox" name="toDoList" placeholder="To do items seperated by comma"></textarea>
                <input id="sendIit" type="submit" value="Send"></input>
            </label>
        </fieldset>
    </form>
</body>

</html>