<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My Form</title>
    <script type="text/javascript" src='https://code.jquery.com/jquery-3.5.0.min.js'></script>'
</head>

<script>
    $(document).ready(function(){
        $('#add').on('click', function() {
            let content = $('#area').html();
            let input = "<input id='textBox' name='toDoList'></input><br>";
            $('#area').append(input);
        })
    })


</script>

<body>

<form action="/myForm" method="post">
    <div id="area">
        <input id="textBox" name='toDoList'></input><br>
    </div>    
    <input type="submit"></input>
</form>
    <button id="add">+</button>
           
</body>

</html>